# folders
*SAVE/
*RESOURCE/MODELS/
*RESOURCE/Particles/
*RESOURCE/Sea/
*RESOURCE/shared/
*RESOURCE/Sounds/
*RESOURCE/techniques/
RESOURCE/Textures/*
RESOURCE/Textures/BATTLE_INTERFACE/PORTRAITS/*
RESOURCE/Textures/BATTLE_INTERFACE/Spyglass/*
RESOURCE/Textures/INTERFACES/Flags/*
RESOURCE/Textures/INTERFACES/Maps/*
RESOURCE/Textures/INTERFACES/PERKS/*
RESOURCE/Textures/INTERFACES/PORTRAITS/*
RESOURCE/Textures/INTERFACES/SAILS/*
RESOURCE/Textures/INTERFACES/SaveIcons/*
RESOURCE/Textures/INTERFACES/SHIPS/*
RESOURCE/Textures/INTERFACES/Stars/*
*RESOURCE/VIDEOS/

!RESOURCE/Textures/INTERFACES/
!RESOURCE/Textures/BATTLE_INTERFACE/

# file format
*.exe
*.dll

*.qch
*.gm
*.dat
*.COL
*.xps
*.an
*.ptc
*.grs

*.tga
*.txx
*.zap

*.mp4
*.wmv

*.mp3
*.wav
*.ogg

*.fx
*.sha

options