# folders
*SAVE/
*RESOURCE/MODELS/
*RESOURCE/Particles/
*RESOURCE/Sea/
*RESOURCE/shared/
*RESOURCE/Sounds/
*RESOURCE/techniques/
*RESOURCE/Textures/
*RESOURCE/VIDEOS/

# file format
*.exe
*.dll

*.qch
*.gm
*.dat
*.COL
*.xps
*.an
*.ptc
*.grs

*.tga
*.tx
*.txx
*.zap

*.mp4
*.wmv

*.mp3
*.wav
*.ogg

*.fx
*.sha

options